@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  text-decoration: none;
  color: #16acbd;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4dcfe3;
  padding: 30px;
}
.container{
  position: relative;
  max-width: 400px;
  width: 100%;
  background: #fff;
  padding: 30px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
  border-radius: 1.5rem;
}

.container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forms .form-content .title{
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(30, 148, 169);
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #f2eb1a;
}

.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #2ad5e8;
}

.forms .form-content .text{
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 2rem;
}
.forms .form-content .button input{
  color: #fff;
  background: #2ad2e8;
  border-radius: 2rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #0c8eae;
}
.forms .form-content label{
  color: #131bb9;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}

